*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
}

*::selection{
    background: rgb(223, 47, 47);
    color: #fff;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
.hide, .show{
    display: inline;
}
.header-1,
.header-2,
.header-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    background-color:rgb(223, 47, 47);
}
.header-1{
    border-bottom: .1rem solid rgba(255,255,255,.2);
}
.header-3{
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: relative;
    z-index: 1000;
}
.header-1 span{
    font-weight: lighter;
    color: #fff;

}
.header-1 a{
    padding: 0 .7rem;
    color: #fff;
    text-decoration: none;

}
.header-1 a:hover{
    color: black;
    transition: .5s;
}
.header-2 .logo{
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.header-2 .logo:hover{
    color: black;
    transition: .5s;
}
.header-2 .search-bar-container{
    display: flex;
    align-items: center;
    width: 50rem;
    padding: .75rem;
    background: rgba(255,255,255,.2);
    border-radius: .5rem;
}
.header-2 .search-bar-container #search-bar{
    width: 100%;
    background: none;
    text-transform: none;
    color: #fff;
    
}
.header-2 .search-bar-container #search-bar::placeholder{
    text-transform: capitalize;
    color: #ddd;
}
.header-2 .search-bar-container label{
    color: #fff;
    cursor: pointer;

    padding: 0 .5rem;
}
.header-2 .search-bar-container label:hover{
    color: black;
}
.header-3 .navbar a{
    color: #666;
    font-size: 1.5rem;
    margin-right: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}
.header-3 .icons{
    display: flex;
}
.header-3 .icons a{
    color: #666;
    font-size: 2rem;
    margin-right: 1.5rem;
}
.header-3 .icons .cart{
    position: relative;
}
.header-3 .icons .cart span{
    text-align: center;
    position: absolute;
    bottom: -.5rem;
    max-width: 2rem;
    right: 1.0rem;
    z-index: 1;
    background: red;
    border-radius: .5rem;
    padding: 2px .25rem;
    color: white;
}
.header-3 .icons .user-login{
    position: relative;
}
.header-3 a:hover{
    color: rgb(223, 47, 47);
    transition: .5s;
}
#menu-bar{
    font-size: 2.5rem;
    color: #666;
    border: .1rem solid #666;
    border-radius: .5rem;
    padding: .5rem  1.5rem;
    cursor: pointer;
    display: none;
}
h1{
    padding-top: 7vh;
    padding-bottom: 7vh;
    margin: 0px;
    text-align: center;
    text-shadow: 0 .4rem rgba(0,0,0,.1);
    text-transform: uppercase;
}
.slider,
.category,
.product,
.icon-container,
.contact,
.footer,
.detail,
.description{
    margin: 0 auto;
}
.slider{
    display: flex;
}
.slider-left{
    width: 66.66%;
}

.slider-right{
    width: 33.33%;
    margin-left: .5rem;
    display: block;
}
.slider-right-img{
    margin-bottom: 7px;
}
.slider-right-img img{
    width: 100%;
    object-fit: cover;
}
/* Category */
.box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-container img{
    width: 300px;
    height: 100%;
}
.category .box-container .box{
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
}
.box-container .box .content{
    position: absolute;
    bottom: -3rem;
    background: #fff;
    border-top: 1px solid rgba(0,0,0,.3);
    text-align: center;
    padding: .5rem;
    width: 100%;
    transition: .5s;
}
.box-container .box:hover .content{
    bottom: 0;
}
.box-container h3{
    color: #333;
    padding-top: .5rem 0;
}
.box-container .btn{
    width: 90%;
    background-color: red;
    color: white;
    margin-bottom: 1.3rem;
}
.box-grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-row-gap: 7rem;
}
.box-grid .box{
    position: relative;
}
.box-grid .discount{
    position: absolute;
    top: -1rem;
    right: -1.5rem;
    background: rgb(223, 47, 47);
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: white;
    font-weight: bold;
}
.box-grid .box img{
    width: 100%; 
    border: .1rem solid rgba(0, 0, 0, 0.3);
}
.box-grid .box h3{
    color: #333;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
}
.box-grid .box .quantity{
    text-align: center;
    padding-bottom: .5rem;
}
.box-grid .box .quantity span{
    font-size: 1.5rem;
}
.box-grid .box .quantity input{
    font-size: 1.5rem;  
    text-align: center;
    color: white;
    background: rgb(241, 104, 104);
    border-radius: .5rem;
}
.box-grid .box .price{
    font-weight: bolder;
    color: red;
    font-size: 2rem;
    text-align: center;
}
.box-grid .box .price span{
    text-decoration: line-through;
    color: #666;
    font-size: 1.5rem;

}
.box-grid .box .btn{
    width: 80%;
    display: block;
    margin: 1rem auto;
}
.icon-container{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: space-between;
}
.icon-container .icon{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex: 1 1 10rem;
}
.icon-container .icon .content{
    padding-left: 2rem;
}
.icon-container .icon .content h3{
    font-size: 1.5rem;
    color: rgb(223, 47, 47);
}
.icon-container .icon .content p{
    font-size: 1rem;
    color: #666;
}
.contact .row{
    display: flex;
    flex-wrap: wrap;
    border: .1rem solid rgba(0, 0, 0, 0.3);
}
.contact .row .map{
    width: 100%;
    flex: 1 1 40rem;
}
.contact .row form{
    display: block;
    padding: 2rem;
    flex: 1 1 40rem;
}
.contact .row form .inputBox{
    position: relative;
}
.contact .row form .inputBox input, 
.contact .row form .inputBox textarea{
    width: 100%;
    border-bottom: .1rem solid rgba(0,0,0,.3);
    padding: 1rem 0;
    margin: 1.5rem 0;
    font-size: 1.2rem;
    text-transform: none;
    color: #333;
}
.contact .row form .inputBox textarea{
  resize: none;
  height:15rem;
}
.contact .row form .inputBox input:focus, 
.contact .row form .inputBox textarea:focus{
    border-color: rgb(241, 104, 104);
}
.contact .row form .inputBox label{
    position: absolute;
    top:2.3rem;
    left: 0;
    font-size: 1.5rem;
}
.contact .row form .inputBox input:focus ~ label, 
.contact .row form .inputBox textarea:focus ~label,
.contact .row form .inputBox input:valid ~ label, 
.contact .row form .inputBox textarea:valid ~label{
    top: -.2rem;
    font-size: 1.3rem;
    color: #666;
    transition: .5s;
}
.contact form .btn{
    background-color: red;
    color: white;
    float: right;
}
.footer{
    border-top: .1rem solid #333;
    margin-top: 7rem;
    padding: 1rem 15%;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.footer h3{
    font-size: 1.7rem;
    font-weight: bold;
}
.footer p{
    color: #333;
}
.footer a{
    display: block;
    padding: 1.5rem 0;
    font-weight: bold;
    text-decoration: none;
    color: #666;
}
.footer a:hover{
    color:rgb(223, 47, 47);
}
/* .scroll-top{
    position: fixed;
    bottom: 7.5rem;
    right: 2rem;
    z-index: 1000;
    font-size: 3.5rem;
    background: rgba(255, 0, 0, .1);
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    text-decoration: none;
    display: none;
} */
@media (max-width: 1271px){
    .header-2{
        flex-flow: column;
    }
    .header-2 .search-bar-container{
        margin-top: 1rem;
    }
}
@media (max-width: 1025px){
    #menu-bar{
        display: initial;
    }
    .header-3 .navbar{
        position: absolute;
        top:100%;
        left: 0px;
        right: 0;
        background: #eee;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0,0,0,.3);
    }
    .show{
        display: block;
    }
    .hide{
        display: none;
    }
    .header-3 .navbar a{
        display: block;
        margin: 1.5rem 0;
        padding: 1.5rem;
        border-radius: .5rem;
        border: .1rem solid rgba(0, 0, 0, 0.3);
        background: #fff;
        text-align: center;
    }
    .header-2{
        flex-flow: column;
    }
    .header-2 .search-bar-container{
        width: 100%;
        margin-top: 2rem;
    }
}
@media (max-width: 514px){
    .header-1{
        display: none;
    }
}
